.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 146px;
  width: 100%;
}

h1 {
  color: #fff;
  text-align: center;
}

p {
  color: #fff;
  font-size: 18px;
  font-family: Roboto;
}
